---
layout: page
title: "Members"
description: "Faculty & Students working on projects"
header-img: "img/team_bg_gray1.jpg"
---


<br>
<h1 style="text-align: center;">Admin Team</h1>

<hr class="style-one">


<div class="row">
{% for member in site.data.adm_members %} {% if member.visible == true %}
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="{{ member.img }}" style="width: 200px; height: 250px;">
				<div class="caption">
					<h4 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.name }}</h4>
					<h5 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.role }}</h5>
				</div>				
			</div>			
		</div>		
{% endif %}{% endfor %}
</div>


<br>
<br>

<h1 style="text-align: center;">Team ARLE</h1>
<hr class="style-one">


{% for team in site.data.arle_teams %}
<div class="row">
<h3> Team : {{ team.team_name }}</h3>
<br>

{% for member in site.data.arle_members %} {% if member.visible == true %}
{% for team_id in member.team %}
{% if team.team_id == team_id %}
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="{{ member.img }}" style="width: 200px; height: 200px;">
				<div class="caption">

					<h4 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.name }}</h3>
					<h5 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">
						{{ member.role }}</br>
						{{ team.team_name }}
					</h5>
				</div>				
			</div>			
		</div>
{% endif %} {% endfor %}
{% endif %}{% endfor %}
</div>
{% endfor %}


<br>
<br>
<h1 style="text-align: center;">Team Hexacopter</h1>
<hr class="style-one">

<div class="row">
{% for member in site.data.hexacopter_members %} {% if member.visible == true %}
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="{{ member.img }}" style="width: 200px; height: 200px;">
				<div class="caption">
					<h4 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.name }}</h4>
					<h5 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.role }}</h5>
				</div>				
			</div>			
		</div>		
{% endif %}{% endfor %}
</div>

<br>
<br>
<h1 style="text-align: center;">Team Raman</h1>
<hr class="style-one">

<div class="row">
{% for member in site.data.raman_members %} {% if member.visible == true %}
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="{{ member.img }}" style="width: 200px; height: 200px;">
				<div class="caption">
					<h4 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.name }}</h4>
					<h5 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.role }}</h5>
				</div>				
			</div>			
		</div>		
{% endif %}{% endfor %}
</div>

<br>
<br>
<h1 style="text-align: center;">Team Antahsagari</h1>
<hr class="style-one">

<div class="row">
{% for member in site.data.antahsagari_members %} {% if member.visible == true %}
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="{{ member.img }}" style="width: 200px; height: 200px;">
				<div class="caption">
					<h4 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.name }}</h4>
					<h5 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.role }}</h5>
				</div>				
			</div>			
		</div>		
{% endif %}{% endfor %}
</div>



