---
layout: page
title: "Members"
description: "Faculty & Students working on projects"
header-img: "img/team_bg_gray1.jpg"
---


<br>
<h1 style="text-align: center;">Admin Team</h1>

<hr class="style-one">


<div class="row">
{% for member in site.data.adm_members %} {% if member.visible == true %}
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="{{ member.img }}" style="width: 200px; height: 250px;">
				<div class="caption">
					<h4 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.name }}</h3>
					<h5 style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 100">{{ member.role }}</h4>
				</div>				
			</div>			
		</div>		
{% endif %}{% endfor %}
</div>


<br>
<br>

<h1 style="text-align: center;">Team Arle</h1>
<hr class="style-one">

<div class="row">
{% for member in site.data.arle_members %} {% if member.visible == true %}
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="{{ member.img }}" style="width: 200px; height: 200px;">
				<div class="caption">
					<h6>{{ member.name }}</h3>
					<p>
						{{ member.role }}</br>
						{{ member.team }}
					</p>
				</div>				
			</div>			
		</div>		
{% endif %}{% endfor %}
</div>


<br>
<br>
<h1 style="text-align: center;">Team Hexacopter</h1>
<hr class="style-one">

<div class="row">
{% for member in site.data.hexacopter_members %} {% if member.visible == true %}
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="{{ member.img }}" style="width: 200px; height: 200px;">
				<div class="caption">
					<h6>{{ member.name }}</h3>
					<p>{{ member.role }}</p>
				</div>				
			</div>			
		</div>		
{% endif %}{% endfor %}
</div>

<br>
<br>
<h1 style="text-align: center;">Team Raman</h1>
<hr class="style-one">

<div class="row">
{% for member in site.data.raman_members %} {% if member.visible == true %}
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="{{ member.img }}" style="width: 200px; height: 200px;">
				<div class="caption">
					<h6>{{ member.name }}</h3>
					<p>{{ member.role }}</p>
				</div>				
			</div>			
		</div>		
{% endif %}{% endfor %}
</div>

<br>
<br>
<h1 style="text-align: center;">Team Antahsagari</h1>
<hr class="style-one">

<div class="row">
{% for member in site.data.antahsagari_members %} {% if member.visible == true %}
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="{{ member.img }}" style="width: 200px; height: 200px;">
				<div class="caption">
					<h6>{{ member.name }}</h3>
					<p>{{ member.role }}</p>
				</div>				
			</div>			
		</div>		
{% endif %}{% endfor %}
</div>



